@use '@carbon/react';
@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/themes';
:root {
  --primary-color: #D26122;
  --secondary-color: #00ff00;
  --text-color: #333333;
  --background-color: #f0f0f0;
  --link-color: #007bff;
  --success-color: #28a745;
  --error-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
}
