@use '@carbon/react/scss/colors';
.layoutCont {
  height: 100vh;

  .body {

    padding-left: 36px;
    padding-top: 36px;;

    .bodyCont {
     
    }
  }
  :global{
    a.cds--side-nav__link:focus{
      outline: 2px solid  rgba(0,0,0,0);
    }
  }
}

