.layoutCont {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  .body {
    flex: 1;
    position: relative;

    .bodyCont {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }
  }
}
