.content {
  display: flex;
  width: 100%;
  margin-top: 40px;

  .left {
    margin-right: 20px;
    flex:1;
    .leftTop {
      width: 100%;
      height: 220px;
      display: flex;

      .totalAssets {
        width: 45%;
        height: 220px;
        margin-right: 20px;
        background: #fff;
        padding: 16px 24px;
        position: relative;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3019607843);
      }

      .workOrders {
        width: 55%;
        height: 220px;
        background: #fff;
        padding: 16px 24px;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3019607843);
      }
    }

    .leftCenter {
      margin-top: 20px;
      height: 220px;
      width: 100%;
      display: flex;

      .assetUsed {
        width: 50%;
        height: 220px;
        margin-right: 20px;
        background: #fff;
        padding: 16px 24px;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3019607843);
      }

      .alarms {
        width: 50%;
        height: 220px;
        background: #fff;
        padding: 24px;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3019607843);
      }
    }

    .leftBottom {
      margin-top: 20px;
      min-height: 300px;
      width: 100%;

      .workOrdersQueue {
        width: 100%;
        // height: 300px;
        background: #fff;
        padding: 24px;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3019607843);
      }
    }
  }

  .right {
    min-width: 288px;
    width: 25%;

    .rightTop {
      width: 100%;
      min-height: 380px;
    }

    .rightBottom {
      margin-top: 20px;
      width: 100%;
      height: 380px;
    }
  }

  .compTitle {
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}
