.scheduleTable {
  width: 100%;
  overflow-y: auto;
  // background-color: var(--cds-layer-01);
  background-color: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3019607843);
  padding: 20px;
  .status {
    min-width: 100px;
  }
  .editText {
    margin-right: 15px;
    color: #0f62fe;
  }
  .delText {
    color: #da1e28;
  }

  .scheduleTableHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    .scheduleTableHeaderLeft {
      width: 300px;
    }
    .scheduleTableHeaderRight {
      display: flex;
      .headerRightIconParent {
        margin-left: 20px;
        display: flex;
        align-items: flex-end;
      }
      .headerRightIcon {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 5px;
      }
    }
  }

  .activeTableHeaderBorder{
    border:2px solid #0F62FE !important;
    border-bottom:none!important;
  }
  

  .activeHeaderColor{
    color:#0F62FE !important;
  }

  .activeTableBorder{
    border-left:2px solid #0F62FE !important;
  }
  .activeTableBorderBottom{
    border-bottom:2px solid #0F62FE !important;
  }
  .activeTableBorder + td {
    border-left:2px solid #0F62FE !important;
  }
  :global {

    .cds--data-table td {
      padding: 0;
    }
    // dataPick
    .cds--date-picker__input {
      background-color: #e6e6e6;
    }
  }
}
