.moreModal {
  .tableParent{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #aeaeae;
    border-bottom: none;
    margin: 0 10px;
  }
  .parent{
    display: flex;
    border-bottom: 1px solid #AEAEAE;
    width: 100%;
    .Left{
      background-color: #c6c6c6;
      font-weight: 600;
    }
    .Right{
      color:#525252;
    }
    .Right,.Left{
      width: 50%;
      height: 32px;
      padding-left: 15px;
    line-height: 32px;
    }
  }

  :global {
    
  }
}
