.container{
    width:100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:12px;
    font-family: IBM Plex Sans;

    .title{
        font-size:16px;
        color:#161616;
        font-weight: bold;
        letter-spacing: 0.1599999964237213px;
    }

    .options{
         color:#0043CE;
         font-size:12px;
         cursor: pointer;
         user-select: none;
    }
}

.chart{
    width:100%;
    background-color: #fff;
    height:266px;
    overflow-y: auto;
    padding:  8px 20px;
   
    .list{
        border-bottom:1px solid #BFBFBF;
    }

    :global{
        .cds--contained-list__header{
            display: none;
        }

        .cds--contained-list-item--with-icon .cds--contained-list-item__content{
            padding: 8px;
            min-block-size:20px;
            color:#525252;
            font-size:14px;
        }

        .cds--contained-list-item__icon{
            color:#1157FE;
        }

        .cds--contained-list-item{
            cursor: pointer;
        }
    }
}