.cardParent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  .card {
    // flex: 1 0 185px; /* 自适应宽度，最小宽度为185像素 */
    height: 150px;
    background-color: #fff;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3019607843);
    border-radius: 2px;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    cursor: pointer;
    width: calc(25% - 10px); /* 计算卡片的宽度，减去padding */
  }

  @media screen and (max-width: 920px) {
    .card {
      width: calc(50% - 10px); /* 当页面宽度小于920px时，每个卡片占据50%的宽度，减去padding */
      margin-bottom: 30px;
    }
  }
  .card:first-child {
    margin-left: 0; /* 第一个卡片左边距为0 */
  }
  
  .card:last-child {
    margin-right: 0; /* 最后一个卡片右边距为0 */
  }
  .cardHeader{
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    line-height: 22px;
  }
  .cardBottom{
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #161616;
    align-items:baseline;
    .bottomLeft{
        font-size: 35px;
        font-weight: 400;
        margin-right: 3px;
    }
  }

}
