.title{
    font-size:16px;
    color:#161616;
    font-weight: bold;
    font-family: IBM Plex Sans;
    letter-spacing: 0.1599999964237213px;
    margin-bottom:12px;
}

.chart{
    display: flex;
    width:100%;
    margin-top:40px;

    .left{
        width:60%;
        margin-right: 20px;
    }

    .right{
        min-width:538px;
        width:40%;
    }
}