.textColor{
    color:#525252;
}

.chart{
    display: flex;
    width:100%;
    margin-top:40px;

    .left{
        width:60%;
        margin-right: 20px;
    }

    .right{
        min-width:538px;
        width:40%;
    }
}