.options {
  display: flex;
  justify-content: space-between;

  a {
    cursor: pointer;
    color: #0F62FE;
    font-size: 14px;
    user-select: none;
    transition: all 0.3s;
  }

  .open {
    transition: all 0.3s;
    color: #78A9FF;
  }
}

.container {
  padding-bottom: 30px;

  .table {
    width: 100%;
    border: 1px solid #ccc;
    border-right: 0;
    border-bottom: 0;
    margin-bottom: -1px;
  }

  .tableHeader {
    display: flex;
    font-weight: bold;
    background-color: #E0E0E0;
    font-size: 16px;
  }

  .tableRow {
    display: flex;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
      background-color:#E8E8E8;
      transition: all 0.3s;
    }
  }

  .tableCell {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 14px;
  }

  .showComp {
    display: flex;
    justify-content: flex-end;
    height: 163px;
    background-color: #FAFAFA;
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  .showChild {
    border-top: 1px solid #ccc;
  }
}

.pagination{
  border: 1px solid #ccc;
  position: relative;
  top: -1px;
  border-top: 0;
}